<div class="container">
    <h1>Lista de productos con 20% de descuento</h1>
    <hr>
    <div class="form">
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Titulo</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{products[0].id}}</td>
              <td>{{products[0].nombre}}</td>
              <td>${{products[0].precio}}</td>
            </tr>
            <tr>
              <td>{{products[1].id}}</td>
              <td>{{products[1].nombre}}</td>
              <td>${{products[1].precio}}</td>
            </tr>
            <tr>
              <td>{{products[2].id}}</td>
              <td>{{products[2].nombre}}</td>
              <td>${{products[2].precio}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

<a routerLink="/productos" href="../lista-productos/lista-productos.component.html" class="btn btn-primary">Volver</a>
